.reynolds-score{

	font-size: xx-large;
	color: blue;
	font-style: oblique;
}

.reynolds-checkbox{

	font-size: x-small;

}

.kidney-pic {
   position: relative;
   width: 100%; /* for IE 6 */
}

.kidney-score {
   position: absolute;
   top: 245px;
   left: 62px;
   width: 100%;
	 color: white;
}
